.searchBox{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.searchBox>input[type="text"]{
    box-shadow: 0 0 5px grey;
    background-color: white;
    border: none;
    color: black;
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    height: 8%;
}

.searchBox>input[type="submit"]{
    height: 8.1%;
    border-radius:0% ;
    background-color: tomato;
    font: 400 1.2vmax "Roboto";
    padding: 1vmax;
    cursor: pointer;
    width: 10%;
    color: white;
    border: none;
}

.searchBox>input[type="submit"]:hover{
    background-color: black;
}